$grey-color: #ECF0F1
$header-background: #ffffff
$body-background: transparent
$footer-background: $grey-color
$full-width: 100%
$header-height: 25vh
$grey-text: #95A5A6
$oslo-grey: #7F8C8D
$green-color: #16A085
$blue-color: #2980B9
$red-color: #C0392B

@font-face
	font-family: "Roboto-Light"
	src: url('../../fonts/Roboto-Light-webfont.eot')
	src: local('../../fonts/Roboto-Light-webfont')
	src: url('../../fonts/Roboto-Light-webfont.svg#Roboto-Light') format('svg')
	src: url('../../fonts/Roboto-Light-webfont.otf') format('opentype')

@font-face
	font-family: "Roboto-Regular"
	src: url('../../fonts/Roboto-Regular-webfont.eot')
	src: local('../../fonts/Roboto-Regular-webfont')
	src: url('../../fonts/Roboto-Regular-webfont.svg#Roboto-Regular') format('svg')
	src: url('../../fonts/Roboto-Regular-webfont.otf') format('opentype')